In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/home/kc3172/Yelp/dataset/business.csv')

In [3]:
df.head()

,attributes.Ambience.divey,attributes.RestaurantsDelivery,attributes.DogsAllowed,postal_code,hours.Thursday,attributes.HairSpecializesIn.coloring,attributes.BestNights.sunday,attributes.BYOB,attributes.AgesAllowed,hours.Friday,...,attributes.Caters,attributes.RestaurantsReservations,attributes.DietaryRestrictions.dairy-free,attributes.DietaryRestrictions.vegan,attributes.Ambience.romantic,attributes.Music.jukebox,attributes.Ambience.upscale,attributes.RestaurantsTakeOut,attributes.BikeParking,attributes.OutdoorSeating
0,NaN,NaN,NaN,85044,7:30-17:00,NaN,NaN,NaN,NaN,7:30-17:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,15317,9:00-20:00,True,NaN,NaN,NaN,9:00-16:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,85017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,85282,10:00-21:00,NaN,NaN,NaN,NaN,10:00-21:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
4,False,False,NaN,44221,11:00-1:00,NaN,False,NaN,NaN,11:00-1:00,...,False,False,NaN,NaN,False,False,False,True,True,True

In [4]:
df.shape

(174567, 101)

In [5]:
df2=pd.read_csv('/home/kc3172/Yelp/dataset/review.csv')

In [6]:
df2.shape

(5261669, 9)

In [7]:
df2.head()

,funny,user_id,review_id,text,business_id,stars,date,useful,cool
0,0,bv2nCi5Qv5vroFiqKGopiw,v0i_UHJMo_hPBq9bxWvW4w,"Love the staff, love the meat, love the place....",0W4lkclzZThpx3V65bVgig,5,2016-05-28,0,0
1,0,bv2nCi5Qv5vroFiqKGopiw,vkVSCC7xljjrAI4UGfnKEQ,Super simple place but amazing nonetheless. It...,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,0,0
2,0,bv2nCi5Qv5vroFiqKGopiw,n6QzIUObkYshz4dz2QRJTw,Small unassuming place that changes their menu...,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,0,0
3,0,bv2nCi5Qv5vroFiqKGopiw,MV3CcKScW05u5LVfF6ok0g,Lester's is located in a beautiful neighborhoo...,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,0,0
4,0,bv2nCi5Qv5vroFiqKGopiw,IXvOzsEMYtiJI0CARmj77Q,Love coming here. Yes the place always needs t...,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,0,0

In [8]:
five_star=df2[df2['stars']==5]

In [9]:
five_star.shape

(2253348, 9)

In [10]:
restaurants = df[df['categories'].str.contains('Restaurants')]

In [11]:
restaurants.shape

(54618, 101)

In [12]:
restaurants_clean=restaurants[['business_id','name']]

In [13]:
restaurants_clean.head()

               business_id                        name
4   PfOCPjBrlQAnz__NXj9h_w    Brick House Tavern + Tap
5   o9eMRCWt5PkpLDE0gOPtcQ                     Messina
10  XOSRcvtaKc_Q5H1SAzN20A           East Coast Coffee
14  fNMVV_ZX7CJSDWQGdOM8Nw  Showmars Government Center
15  l09JfMeQ6ynYs5MCJtrcmQ              Alize Catering

In [14]:
restaurants_clean.shape

(54618, 2)

In [15]:
combo=pd.merge(restaurants_clean, five_star, on='business_id')

In [16]:
combo.shape

(1214484, 10)

In [17]:
combo.head()

,business_id,name,funny,user_id,review_id,text,stars,date,useful,cool
0,PfOCPjBrlQAnz__NXj9h_w,Brick House Tavern + Tap,0,PixAmdRa58XZ3hr8YLS36g,fCCL0pAgYGccUs8shHHIUA,I am updating my review to 5-stars because I t...,5,2015-10-09,2,2
1,PfOCPjBrlQAnz__NXj9h_w,Brick House Tavern + Tap,0,ajvbqTp1QbKo4pqZmVanYg,0xKMIkhPVYCSPDA6afn0aw,This place is AMAZING!! We found it by chance ...,5,2016-01-03,0,0
2,PfOCPjBrlQAnz__NXj9h_w,Brick House Tavern + Tap,0,m0XvqE6XZgqtNulippuVvw,zorTHqYr_rxVLYgKmlvA6w,One of my favorite places to eat! Brunch is w...,5,2015-05-25,0,1
3,PfOCPjBrlQAnz__NXj9h_w,Brick House Tavern + Tap,0,sXK_eyLpGrNBIAq9fIRGSg,sa6lbcuzaMkjVegOT21t8Q,Been going here for years and it's still my fa...,5,2017-05-29,0,0
4,PfOCPjBrlQAnz__NXj9h_w,Brick House Tavern + Tap,0,OQ_iIzW0c8PoGUcmEr_V7g,9HPRciMKI0QOVeMtQQs56w,I came here with my brother and the atmosphere...,5,2012-11-23,0,0

In [18]:
rnn_fivestar_reviews_only=combo[['text']]

In [19]:
rnn_fivestar_reviews_only.head()

                                                text
0  I am updating my review to 5-stars because I t...
1  This place is AMAZING!! We found it by chance ...
2  One of my favorite  places to eat! Brunch is w...
3  Been going here for years and it's still my fa...
4  I came here with my brother and the atmosphere...

In [20]:
rnn_fivestar_reviews_only=rnn_fivestar_reviews_only.replace({r'\n+': ''}, regex=True)

In [21]:
final=rnn_fivestar_reviews_only.drop_duplicates()

In [22]:
final['text'][98830]

'Fresh food and fast, came in just to try the place, met the owners Eddie and Eddie, they were super nice. Even gave me a sample cookie. All I can say is you must try the fries! They are delicious. I had a wrap with crab (they have steak and chicken too) but the crab was amazing and HEALTHY! All the service employees were really nice.Awesome new place will definitely be back!'

In [23]:
#Add start and end of review with <SOR> and <EOR> to each review
final['text']='<SOR>' + final['text'].astype(str)+'<EOR>'

/home/kc3172/py3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
final.head()

                                                text
0  <SOR>I am updating my review to 5-stars becaus...
1  <SOR>This place is AMAZING!! We found it by ch...
2  <SOR>One of my favorite  places to eat! Brunch...
3  <SOR>Been going here for years and it's still ...
4  <SOR>I came here with my brother and the atmos...

In [25]:
final.loc[3][0]

"<SOR>Been going here for years and it's still my favorite place. The servers are friendly and the atmosphere is perfect for any occasion!<EOR>"

In [26]:
#create a csv of this for future use
filename='five_star_restaurants_reviews_only.csv'
final.to_csv(filename, index=False, encoding='utf-8')

In [27]:
#full text file of all reviews to train on
filename='five_star_text.txt'
final.to_csv(filename, header=None, index=None, sep=' ')

In [28]:
len(final)

1214012